{% extends "layout.html" %}
{% block content %}
<h2>Changer mon mot de passe</h2>
<div class="card card-body">
  <form method="post" class="row g-3">
    <div class="col-md-4">
      <label class="form-label">Mot de passe actuel</label>
      <input class="form-control" type="password" name="current" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Nouveau mot de passe</label>
      <input class="form-control" type="password" name="new" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Confirmer</label>
      <input class="form-control" type="password" name="confirm" required>
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
</div>
{% endblock %}
