{% extends "layout.html" %}
{% block content %}

<div class="d-flex align-items-center justify-content-between mb-3">
  <h2 class="m-0">Utilisateurs</h2>
  <a href="{{ url_for('users_new') }}" class="btn btn-success">➕ Nouvel utilisateur</a>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Rôle</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="users-table-body">
      {% include 'users_table.html' %}
    </tbody>
  </table>
</div>

<div hx-target="#users-table-body" hx-swap="innerHTML">
    {% include "_pagination.html" %}
</div>

{% endblock %}
